<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="corefactory" type="mro.db.DatabaseFactorySectionHandler, mro, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <corefactory Name="mro.db.sqlDatabase" ConnectionStringName="main"/>
  <!-- <connectionStrings>
    <add name="sample" connectionString="Data Source=CZV-TIJ01;Initial Catalog=sfc; User ID=sfcuser; Password=sfcuser; MultipleActiveResultSets=True;" providerName="Sql.DataAccess.Client"/>
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <trace enabled="true" pageOutput="false"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="false" autoEventWireup="false" enableViewState="false" enableEventValidation="false" enableSessionState="false">
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.Text"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.UI"/>
        <add namespace="mro"/>
        <add namespace="mro.BO"/>
      </namespaces>
    </pages>
    <authentication mode="None"/>
    <httpRuntime maxQueryStringLength="8192" executionTimeout="1200"/>
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="false"/>
    <modules>
      <!-- Remove unnecessary Http Modules for faster pipeline -->
      <remove name="Session"/>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="AnonymousIdentification"/>
      <remove name="FormsIdentification"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
      <remove name="DirectoryListing"/>
      <remove name="Rolemanager"/>
    </modules>
    <staticContent>
      <mimeMap fileExtension=".btw" mimeType="application/btw"/>
    </staticContent>
  </system.webServer>
</configuration>